{% extends 'users.html.twig' %} {% block title %}editer{% endblock %} {% block body %}

<div class="example-wrapper">
    <h1>editer une annonce</h1>
    {{form(form)}}
    <h2>Images</h2>
    <div class="d-flex flex-column gap-3">
        {% for image in annonce.images %}
        <div class="d-flex align-items-center gap-3">
            <img src="{{asset('uploads/images/annonces/' ~ image.name)}}" width="150">
            <div>{{ include('users/annonces/_delete_form.html.twig') }}
            </div>
        </div>{% endfor %}
    </div>
</div>

{% endblock %}{# {% block javascripts %}
<script src="{{asset('js/images.js')}}"></script> {% endblock %} #}