{% extends 'users.html.twig' %} {% block title %}Hello UsersController!{% endblock %} {% block body %}


<h1>Hello {{ controller_name }}! ✅</h1>

This friendly message is coming from:
<ul>
    <li>Your controller at <code><a href="{{ 'C:/wamp64/www/stage/petitesannonces/src/Controller/UsersController.php'|file_link(0) }}">src/Controller/UsersController.php</a></code></li>
    <li>Your template at <code><a href="{{ 'C:/wamp64/www/stage/petitesannonces/templates/users/index.html.twig'|file_link(0) }}">templates/users/index.html.twig</a></code></li>
</ul>
{% endblock %}